<div id="body_about">

    <div class="text-center mb-3">
        <br>
        <img id="logo" width=190 height=170 src="https://cdn-icons-png.flaticon.com/128/1256/1256650.png" alt="file logo">
        <br>
    </div>

    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-4">About Us!</h1>
            <p class="lead">This is a simple hero unit, a simple Angular Project for uploading files like .pdf, .doc,
                .exe, .ppt, .png, .jpg, .jpe, .mp3, mp4, .zip, .html, .css, .ts, .js, .java, .py, .sql etc upto 4 mb.
                This files are stored into file_db database. We can Download and Delete all the respective files with
                respected to File-Id. This project has only one table named "files" having 'id' i.e PK, name, type, data
                are the fields. In this project for Spring-Boot 'date' is of 'byte[]' type, for MySQL 'date' is of
                'longblob' type, for Angular 'date' is of 'any' type. </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" (click)="goto_register_page()" role="button">Create Account</a>
            </p>
        </div>
        <br><br>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>