.container-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://w0.peakpx.com/wallpaper/181/637/HD-wallpaper-plain-dark-blue-dark-blue.jpg");
}
th {
    justify-content: center;
    color: brown;
    background-color: rgb(239, 185, 36);
    font-size: larger;
    text-align: center;
}
tr:hover {
    background-color: rgb(138, 170, 229);
}
.model_page {
    font-size: large;
    font-weight: bold;
}
/* #model_page_role {

    color: white;

} */
#in_page_role {
    color: white;
}
#in_page_role:hover {
    color: rgb(92, 128, 219);
}
td {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.in_page,
td,
button {
    color: white;
    font-weight: bold;
    font-size: large;
}
h2 {
    color: white;
    font-weight: bold;
}
span {
    color: rgb(235, 12, 12);
    font-weight: bold;
}