<div class="container">
    <br>
    <div class="row row-cols">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg" (click)="admin_goto_email_page()">Send Email</button>
        </div>
    </div>
</div>

<!-- routerLink="/admin/passenger" -->
<!-- routerLink="/admin/routedesc" -->

<div class="container">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_user()">Get All User</button>
        </div>

        <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_user()">Get All User</button>
        </div>
    </div>
</div>

<div class="container">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/128/3079/3079976.png" alt="" height="200" width="200">
        </div>
    </div>
</div>

<!-- routerLink="/admin/shipschedule" -->
<!-- routerLink="/admin/shipdetails" -->

<div class="container">
    <br><br><br>
    <div class="row row-cols-2">
        <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_user()">Get All User</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_user()">Get All User</button>
        </div>
    </div>
</div>


<div class="container mb-5">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg" (click)="admin_goto_email_page()">Send Email</button>
        </div>
    </div>
</div>