<footer style="background-color: #0c5eca;">

    <br>

    <div class="container-fluid px-4">
        <div class="row g-5">

            <div class="col">
                <div id="footer2_left">

                    <label>
                        <img src="https://cdn-icons-png.flaticon.com/128/870/870119.png" alt="" height="35">
                        <label>&nbsp;Ship Reservation System</label>
                    </label>

                </div>
            </div>

            <div class="col">
                <div id="footer1_right">

                    <label>Follow Us:&nbsp;&nbsp;</label>
                    <img type="button" src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="" height="30"
                        width="30">&nbsp;
                    <img type="button" src="https://cdn-icons-png.flaticon.com/128/3670/3670151.png" alt="" height="30"
                        width="30">&nbsp;
                    <img type="button" src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" alt="" height="30"
                        width="30">&nbsp;
                    <img type="button" src="https://cdn-icons-png.flaticon.com/128/145/145807.png" alt="" height="30"
                        width="30">&nbsp;
                    <img type="button" src="https://cdn-icons-png.flaticon.com/128/3670/3670147.png" alt="" height="30"
                        width="30">&nbsp;&nbsp;

                </div>
            </div>

        </div>
    </div>

    <br>

</footer>

<!-- ======================================================================================================================= -->

<footer style="background-color: #227df4;">

    <!-- <br>
    <p>Author: Sankha Subhra Mondal<br>
    <a href="sankhasubhra.mondal@wipro.com">sankhasubhra.mondal@wipro.com</a></p>
    <br> -->

    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <div class="col-2">
                <div class="p-5">
                    <label><u>Company</u></label>
                    <p type="button"><br>Home</p>
                    <p type="button">About Us</p>
                    <p type="button">Contact Us</p>
                    <p type="button">Get Started</p>
                </div>
            </div>

            <div class="col-2">
                <div class="pt-5">
                    <label><u>Services</u></label>
                    <p type="button"><br>View Bookings</p>
                    <p type="button">View Schedules</p>
                    <p type="button">Download Ticket</p>
                    <p type="button">International Booking</p>
                </div>
            </div>

            <div class="col-2">
                <div class="pt-5">
                    <label><u>Account</u></label>
                    <p type="button"><br>Login</p>
                    <p type="button">Your Profile</p>
                    <p type="button">Your Bookings</p>
                    <p type="button">Create an Account</p>
                </div>
            </div>

            <div class="col-3">
                <div class="pt-5">
                    <label><u>Help</u></label>
                    <p type="button"><br>Payments</p>
                    <p type="button">Cancellation</p>
                    <p type="button">Customer Care</p>
                    <p type="button">Report Infringement</p>
                </div>
            </div>

            <div class="col-3">
                <div class="mt-5">
                    <label><u>Contact Us</u></label>
                    <div><br><img src="https://cdn-icons-png.flaticon.com/128/455/455907.png" alt=""
                            height="28">&nbsp;&nbsp; +91-6296712293</div>
                    <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/893/893292.png" alt=""
                            height="28">&nbsp;&nbsp; sankha.github@gmail.com</div>
                    <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/921/921490.png" alt=""
                            height="28">&nbsp;&nbsp; www.ship_reservation.org</div>
                    <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/619/619153.png" alt=""
                            height="28">&nbsp;&nbsp; DN 54/A, Sector V, Kolkata 700001</div>
                </div>
            </div>

        </div>
    </div>

    <br>

</footer>

<!-- ========================================================================================================================= -->

<footer style="background-color: #0150b6;">

    <br>

    <div class="container-fluid px-4">
        <div class="row g-5">

            <div class="col">
                <div id="footer3_left">
                    Copyrights © Since 2023 |Project Name|. All rights reserved
                </div>
            </div>

            <div class="col">
                <div id="footer3_right">
                    <a href="" class="footer3_right_a">Security</a> &nbsp;
                    <a href="" class="footer3_right_a">Privacy Policy</a> &nbsp;
                    <a href="" class="footer3_right_a">Terms & Conditions</a>
                </div>
            </div>

        </div>
    </div>

    <br>

</footer>